<!DOCTYPE html>
<html class="docs-page">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ramda Documentation</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
</head>
<body>
    <header class="navbar navbar-fixed-top navbar-inverse container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <strong>Ramda</strong>
                <span class="version">v{{version}}</span>
            </a>
        </div>
        <div class="navbar-left">
            <ul class="nav navbar-nav">
                <li><a href="..">Home</a></li>
                <li class="active"><a href="#">Documentation</a></li>
            </ul>
        </div>
    </header>
    <aside class="sidebar container-fluid">
        <div class="form-group has-feedback filter">
            <input class="form-control"
                   tabindex="1"
                   id="name-filter"
                   placeholder="Filter"
                   type="text"
                   data-bind="textInput: filter"
            >
            <span class="form-control-feedback">
                <span class="glyphicon glyphicon-search"></span>
            </span>
        </div>
        <ul class="nav nav-pills nav-stacked toc">
            {{#each docs}}
            <li class="func" data-name="{{name}}" data-category="{{category}}">
                <a href="#{{name}}">
                    {{name}}
                    <span class="label label-primary pull-right"
                    >{{category}}</span>
                </a>
            </li>
            {{/each}}
        </ul>
    </aside>
    <main class="container-fluid">
        {{#each docs}}
        <section class="card" id="{{name}}">
            <h2>
                <a tabindex="2" class="name" href="#{{name}}">{{name}}</a>
                <span class="label label-primary pull-right">{{category}}</span>
            </h2>
            {{#if sig}}
            <div>
                <button class="sig btn btn-outline" data-collapser="#__details-{{name}}">
                    <span class="caret"></span>
                    {{sig}}
                </button>
            </div>
            {{/if}}

            <div class="details collapse panel panel-default" id="__details-{{name}}">
                <table class="table table-condensed table-striped">
                    {{#each params}}
                    <tr>
                        <td class="type">{{type}}</td>
                        <td class="name">{{name}}</td>
                        <td class="description">{{{description}}}</td>
                    </tr>
                    {{/each}}
                    {{#with returns}}
                    <tr>
                        <td class="returns">Returns</td>
                        <td class="type">{{type}}</td>
                        <td class="description">{{{description}}}</td>
                    </tr>
                    {{/with}}
                </table>
            </div>

            <div class="description">{{{description}}}</div>

            {{#if see}}
            <div class="see">
                See also <a href="#{{see}}">{{see}}</a>.
            </div>
            {{/if}}

            {{#if example}}
            <pre><code class="hljs javascript">{{{example}}}</code></pre>
            {{/if}}
        </section>
        {{/each}}
    </main>
    <script>
        var DOC_DATA = {{json data}};
    </script>
    <script src="main.js"></script>
    <script src="dist/ramda.js"></script>
</body>
</html>
