<!DOCTYPE html>
<html class="docs-page">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ramda Documentation</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
</head>
<body>
    <header class="navbar navbar-fixed-top navbar-inverse container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <strong>Ramda</strong>
                <span class="version">v{{version}}</span>
            </a>
        </div>
        <div class="navbar-left">
            <ul class="nav navbar-nav">
                <li><a href="..">Home</a></li>
                <li class="active"><a href="#">Documentation</a></li>
            </ul>
        </div>
        <div class="navbar-right">
          <iframe class="forkme" src="http://ghbtns.com/github-btn.html?user=ramda&repo=ramda&type=fork&size=large" height="30" width="100" frameborder="0" scrolling="0" style="width:100px; height: 30px;" allowTransparency="true"></iframe>
        </div>
    </header>
    <aside class="sidebar container-fluid">
        <div class="form-group has-feedback filter">
            <input class="form-control"
                   tabindex="1"
                   id="name-filter"
                   placeholder="Filter"
                   type="text"
                   data-bind="textInput: filter"
            >
            <span class="form-control-feedback">
                <span class="glyphicon glyphicon-search"></span>
            </span>
        </div>
        <ul class="nav nav-pills nav-stacked toc">
            {{#each docs}}
            <li class="func" data-name="{{name}}" data-category="{{category}}">
                <a href="#{{name}}">
                    {{name}}
                    <span class="label label-category pull-right"
                    >{{category}}</span>
                </a>
            </li>
            {{/each}}
        </ul>
    </aside>
    <main class="container-fluid">
        {{#each docs}}
        <section class="card" id="{{name}}">
            <h2>
                <a tabindex="2" class="name" href="#{{name}}">{{name}}</a>
                <span class="label label-category pull-right">{{category}}</span>
            </h2>
            {{#if sig}}
            <div>
                <button class="sig btn btn-link" data-collapser="#__details-{{name}}">
                    <span class="caret rotated"></span>
                    {{sig}}
                </button>
            </div>
            {{/if}}

            <div class="details collapse panel panel-default" id="__details-{{name}}">
                <ul class="list-group">
                    {{#each params}}
                    <li class="list-group-item">
                        <span class="type">{{type}}</span>
                        <span class="name">{{name}}</span>
                        <span class="description">{{{description}}}</span>
                    </li>
                    {{/each}}
                </ul>
                <div class="panel-body">
                    {{#with returns}}
                    <span class="returns">Returns</span>
                    <span class="type">{{type}}</span>
                    <span class="description">{{{description}}}</span>
                    {{/with}}
                </div>
            </div>

            <div class="description">{{{description}}}</div>

            {{#if see}}
            <div class="see">
                See also <a href="#{{see}}">{{see}}</a>.
            </div>
            {{/if}}

            {{#if example}}
            <pre><code class="hljs javascript">{{{example}}}</code></pre>
            {{/if}}
        </section>
        {{/each}}
    </main>
    <script>
        var DOC_DATA = {{json data}};
    </script>
    <script src="main.js"></script>
    <script src="dist/ramda.js"></script>
</body>
</html>
